<div class="span3 item" data-id="{{id}}">
    <div>
        <div class="image"></div>
        <span class="title">{{title}}</span>
        <span class="body">{{body}}</span>
        <button class="btn like" type="button"><i class="icon-heart"></i></button>
        <button class="btn comment" type="button"><i class="icon-comment"></i></button>
    </div>
</div>